{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body%}
<div class="container text-center">
  <div class="row">
    <div class="col order-last">
      First in DOM, ordered last
        {{ result_str }}
 <br>
       <bold> <center>{{result_str}}</center> </bold>
    </div>
    <div class="col">
      Second in DOM, unordered

<div>
    <form method = "post" action = "{% url 'rando' %}">
        {% csrf_token %}
        <label>Enter number:</label>
        <input type = "number" name = "input3" placeholder="Ex:2" required>

        <button type="submit" class="btn btn-warning">SUBMIT</button>
    </form>
</div>
    </div>
  </div>
</div>


{% endblock %}

</body>
</html>